@import url(https://fonts.googleapis.com/css?family=Roboto);

a {
  color: #000000;
  text-decoration: none;
}

body {
  margin: 0px;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

#header, #footer {
  min-width: calc(100% - 32px);
  padding: 16px;
  background-color: #607D8B;
}

#header {
  align-self: flex-start;
  color: #FFFFFF;
  font-size: 24px;
  font-weight: bold;
}

#header-logo {
  width: 24px;
  padding: 0px 16px;
}

#content{
  padding: 16px 0 16px;
  overflow: hidden;
  background-color: #EEEEEE;
  flex: 1;
}

.card {
  width: 750px;
  height: auto;
  display: flex;
  flex-direction: column;
  margin: 0 auto 10px auto;
  padding-bottom: 16px;
  font-size: 14px;
  border-radius: 2px;
  background-color: #FFFFFF;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.cardheader {
  height: 40px;
  padding: 16px;
}

.cardicon {
  width: 40px;
  height: 40px;
  float: left;
  margin-right: 16px;
  border-radius: 20px;
}

.cardtitle {
  float: left;
  padding: 4px 0 4px 0;
}

.cardopen {
  padding: 8px;
  float: right;
}

.cardsource {
  opacity: 0.87;
}

.cardtime {
  opacity: 0.54;
}

.cardcontent {
  padding: 0 16px;
}

.cardfooter {
  margin-top: 8px;
  padding: 8px;
}

.cardaction {
  min-width: 88px;
  height: 36px;
  float: right;
  padding: 0 6px 0 6px;
  margin: 6px 8px 6px 0px;
  min-width: 88px;
  border-radius: 3px;
  background-color: transparent;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  text-decoration:none;
  border: none;
  outline: none;
}

.cardaction:hover {
  background-color: rgba(158, 158, 158, 0.2);
}

#footer {
  align-self: flex-start;
}
