.soundcloud {
  display: flex;
  flex-direction: row;
}

.artwork {
  align-self: left;
  width: 100px;
  height: 100px;
  margin-right: 16px;
}

.right-pannel {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.user-track {
  margin-right: 16px;
  display: flex;
  flex-direction: column;
}

.user-track-item {
  margin-bottom: 2px;
}

.waveform {
  height: 62px;
}
