.soundcloud {
  display: flex;
  flex-direction: row;
}

.artwork {
  align-self: center;
  width: 142px !important;
  height: 142px !important;
  margin-right: 16px;
}

.right-pannel {
  display: flex;
  flex-direction: column;
}

.user-track {
  display: flex;
  flex-direction: column;
}

.user-track-item {
  margin-bottom: 2px;
}

.waveform {
  width: 558px;
  height: 100px;
}
